@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(90deg, rgb(40, 0, 41) 0%, rgb(101, 57, 110) 35%, rgb(243, 207, 255) 100%);
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
}

canvas {
  width: 5%;
  background-color: transparent;
  border-radius: 50px;
}

.about_me {
  background-color: rgb(101, 57, 110) ;
  padding: 5% 0%;
  border-radius: 10px;
  /* margin-top: 20px; */
  margin-left: 5%;
  margin-right: 5%;
  /* bottom: 20px; */
}

.about_me h1 {
  /* top: 20px; */
  padding: 1% 1%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #edf0f1;
  text-decoration: none;
  position: relative;
  left: 8%;
}

.about_me img {
  padding: 0.5% 5%;
  float: right;
  width: 55%;
}

.about_me p {
  /* top: 30px; */
  padding: 1% 1%;
  left: 8%;
  width: 30%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #edf0f1;
  text-decoration: none;
  position: relative;
}

.about_me button {
  /* top: 50px; */
  /* padding: 9px 25px; */
  /* width: 30%; */
  padding: 1% 1%;
  background-color: rgb(40, 0, 41) 0%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  left: 8%;
  transition: all 0.3s ease 0s;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(101, 57, 110);
}

button {
  padding: 9px 25px;
  background-color: rgb(90, 44, 100);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(40, 0, 41);
}
